.about-wrapper{
    display:grid;
    grid-template:auto /50% 50%;
}
.about-text{
    display:flex;
    flex-direction:column;
}
.about-firstText p{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(85, 145, 86) ; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-size:30px;
    color:rgb(204,214,246);
}
.about-firstText p span{
    background-color:rgb(10,25,47) !important;
    padding:0 10px;
}
.about-secondText{
    margin-top:7%;
}
.about-secondText p{
    color: rgb(136,146,176);
    font-size:20px;

}
.about-secondText{
    margin-top:7%;
}
.about-thirdText p{
    color: rgb(136,146,176);
    font-size:20px;

}
.about-fourthText{
    
    margin-top:7%;
}
.about-fourthText p{
    color: rgb(136,146,176);
    font-size:20px;

}
.frameworks{
    width:50%;
    margin-left:5%;
    display:grid;
    grid-template:auto/50% 50%;
    grid-gap:30px;
    grid-column-gap:150px;
    
}
.technolog{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.image-container-frame{

    border-radius:1rem;
    width:80px;
}
.image-container-frame img{
    width:100%;
    height:60px;
}
.image-container-frame-express{
    background-color:white;


    border-radius:1rem;
    width:80px;
}
.image-container-frame-express img{
    width:100%;
    height:60px;
}
.technology {
    width:100px;
    margin-left:10%;
}
.technology p{
    color: rgb(136,146,176);
    font-size:18px;

}
.about-img-container{
    margin-top:15%;
 
    margin-left:7%;
    height:300px;
    width:300px;
}
.about-img-container img{
    border-radius:2rem;
    width:100%;
    height:auto;
    max-height:100%;
    max-width:100%;
    object-fit:cover;
    object-position:50% 50%;
}
@media screen and (max-width:600px){
    .about-wrapper{
        display:flex;
        flex-direction:column;
    }
    .about-text{
        display:flex;
        flex-direction:column;
        padding:1rem;
    }
    .technolog{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }
    .frameworks{
        width:100%;
   
        display:flex;
        flex-direction:column;
        justify-content: center;
      
        
    }
    .image-container-frame{

        border-radius:1rem;
        width:50px;
    }
    .image-container-frame img{
        width:100%;
        height:50px;
    }
    .about-img-container{
        display:flex;
        justify-content: center;
        margin-top:15%;
        margin-left:10%;
   
        height:300px;
        width:300px;
    }
    .about-img-container img{
        border-radius:2rem;
        width:300px;
        height:auto;
        max-height:100%;
        max-width:100%;
        object-fit:cover;
   
    }

}

@media screen and (min-width:601px) and (max-width:1000px){
    .frameworks{
        width:70%;
        margin-left:5%;
        display:grid;
        grid-template:auto/50% 50%;
        grid-gap:30px;
        grid-column-gap:150px;
        
    }


}